<a class="nonestyle" href="/imgstn/detail?iid={{imgl.IID}}" target="_blank">
    <div class="imgstn-imgbox">
        <img data-url="{{imgl.iPath}}">
        <mdui-circular-progress></mdui-circular-progress>
        <div class="title text-effect-udl">{{imgl.iName}}</div>
    </div>
</a>