<a class="nonestyle" href="/user?uid={{UserItem.UID}}">
    <mdui-tooltip content="{{UserItem.uNickname}}">
        <img src="{{UserItem.uProfilePhoto}}" class="UserProfilePhotoItem">
    </mdui-tooltip>
</a>
